/** @format */

.login__container {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: var(--preto-05, #f5f5f5);
}

.login__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50%;
}
.login__titulo {
	width: 13.1rem;
	height: 2.9rem;
	flex-shrink: 0;
	color: var(--preto-100, #464646);
	font-family:  'Raleway', sans-serif;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.inputs {
    width: 42.3rem;
    height: 6.3127rem;
    flex-shrink: 0;
    border-radius: 0.4rem;
    border-bottom-color: var(--preto-30, #C8C8C8);
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.inputs input::placeholder {
	font-family: Raleway;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
	color: var(--preto-50, #A2A2A2);
}

.login__submit{
    display: flex;
    width: 42.3rem;
    height: 6.2rem;
    padding: 1.2rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    background: var(--azul-100, #2A7AE4);
    border: none;
}

@media screen and (max-width:768px){
    .login__form{
        width:90%;
    }
    .inputs,.login__submit {
        width: 100%;
    }
}
