.error{
    display: flex;
    justify-content: center;
    height: 76vh;
    align-items: center;
}

.error__ontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 38px;
    box-shadow: 0px 35px 68px 0px rgba(73, 144, 240, 0.5), inset 0px -12px 16px 0px rgba(73, 144, 240, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    width: 34%;
    height: 34%;
    padding: 0.8rem;
}

.error__ontainer i {
    font-size: 3rem;
    color: greenyellow;
}

.error__ontainer h3{
    font-size: 1.8rem;
    font-family: "Montserrat";
    text-align: center;
    color: black;
}

.error__ontainer a{
    font-size: 1.5rem;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 38px;
    box-shadow: -35px 35px 68px 0px rgba(6, 197, 255, 0.829), inset 12px -12px 16px 0px rgba(31, 173, 255, 0.705), inset 0px 11px 28px 0px rgb(221, 221, 221);
    margin-top: 10px;
    text-decoration: none;
    font-weight: 800;
    color: #111;
    padding: 1rem;
    width: 10rem;
    text-align: center;
}


@media screen and (max-width:768px){
    .error__ontainer{
        width: 90%;
        height: 50%;
        justify-content: space-evenly;
    }
}