

.none {
	display: none;
}
.hide {
	display: inline-block;
}
.header {
	display: flex;
	padding: 7px 3px;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
	gap: 32px;
	flex-wrap: wrap;
	position: fixed;
	z-index: 600;
}

.header__container {
	display: flex;
	min-width: 60%;
	width: 93%;
	padding: 32px 0px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header__logo-busqueda {
	display: flex;
	align-items: center;
	gap: 4.5rem;
	width: 58%;
}
.header__search {
	display: flex;
	width: 393px;
	padding: 8px 16px;
	align-items: center;
	gap: 8px;
	border-radius: 20px;
	background: var(--preto-05, #f5f5f5);
}

.search__input {
	border: none;
	background: var(--preto-05, #f5f5f5);
	display: flex;
	align-items: flex-start;
	flex: 1 0 0;
}
.search__input:focus-visible {
	outline: none;
}

.icon__search {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background-image: url(../../svg/icon-search.svg);
}

.header__btn {
	display: flex;
	justify-content: flex-end;
	width: 20%;
}
.header__loginBtn {
	display: flex;
	width: 182px;
	padding: 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border: 1px solid var(--azul-100, #2a7ae4);
	color: #2a7ae4;
}

.menu__flotante {
	position: fixed;
	z-index: 999;
	bottom: 5vh;
	right: 8vw;
	width: 6rem;
	height: 6rem;
}
.icono__menu {
	display: flex;
	backdrop-filter: blur(8px);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 41px;
	box-shadow: 1px 35px 68px 2px rgba(145, 192, 255, 0.5),
		inset 0px -12px 16px 0px rgba(145, 192, 255, 0.6),
		inset 0px 11px 28px 0px rgb(255, 255, 255);
	width: 6rem;
	height: 6rem;
	align-items: center;
	justify-content: center;
	-webkit-animation: roll-in-bottom 0.8s ease-out both;
	animation: roll-in-bottom 0.8s ease-out both;
}
.icono__menu:hover {
	transform: scale(1.3);
}
.icono__menu img {
	width: 5rem;
	filter: drop-shadow(1px 1px 3px var(--main-color));
}

@-webkit-keyframes roll-in-bottom {
	0% {
		-webkit-transform: translateY(800px) rotate(540deg);
		transform: translateY(800px) rotate(540deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotate(0deg);
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
}
@keyframes roll-in-bottom {
	0% {
		-webkit-transform: translateY(800px) rotate(540deg);
		transform: translateY(800px) rotate(540deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotate(0deg);
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
}

/* Toogle dark mode */
.toogle-btn {
	width: 10%;
}

#checkbox {
	display: none;
}

.switch {
	display: flex;
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 1;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	box-shadow: 1px 35px 68px 2px rgba(145, 192, 255, 0.5),
		inset 0px -12px 16px 0px rgba(145, 192, 255, 0.6),
		inset 0px 11px 28px 0px rgb(255, 255, 255);
	top: 0.5rem;
	right: 9rem;
}

.fa-moon {
	position: relative;
	font-size: 2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fa-sun {
	position: relative;
	font-size: 2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search__link {
	display: flex;
	position: absolute;
	width: 47px;
	height: 47px;
	z-index: 1;
	top: -5.3rem;
	right: 7rem;
	cursor: pointer;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.93);
  box-shadow: 1px 35px 68px 2px rgba(145, 192, 255, 0.5),
  inset 0px -12px 16px 0px rgba(145, 192, 255, 0.6),
  inset 0px 11px 28px 0px rgb(255, 255, 255);}
.search__img {
	width: 2.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon__top-container {
	display: flex;
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 1;
	top: -7.5rem;
	right: 0.5rem;
}
.to__top {
	display: flex;
	backdrop-filter: blur(8px);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 41px;
	box-shadow: 1px 35px 68px 2px rgba(145, 192, 255, 0.5),
		inset 0px -12px 16px 0px rgba(145, 192, 255, 0.6),
		inset 0px 11px 28px 0px rgb(255, 255, 255);
	width: 47px;
	height: 47px;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;
}


.to__top.active{
	opacity: 1;
	pointer-events: auto;
}

.bi-chevron-double-up {
	font-size: 3.8rem;
	font-size: black;
}

@media screen and (max-width: 1024px) {
	.header {
		gap: unset;
	}
	.header__container {
		display: flex;
		min-width: 59%;
		width: 96%;
		padding: 32px 0px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.header__logo {
		width: 100px;
	}
	.header__search {
		display: flex;
		width: 27.2rem;
		padding: 0.8rem 1.6rem;
		align-items: center;
		gap: 8px;
	}
	.header__btn {
		display: flex;
		justify-content: flex-end;
	}
	.header__loginBtn {
		display: flex;
		width: 12.7rem;
		padding: 1.2rem 1.6rem;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.switch {
		width: 45px;
		height: 45px;
		top: 2.3rem;
		right: 7rem;
	}
	.search__link {
		top: -4.3rem;
    right: 6rem;
    width: 45px;
    height: 45px;
	}

}

@media screen and (max-width: 768px) {
	.hide {
		display: none;
	}

	.header {
		padding: 7px 10px;
	}

	.logo {
		width: 100%;
	}
	.header__logo {
		width: 13rem;
	}

	.header__search {
		position: absolute;
		top: 11rem;
		left: 0.7rem;
		width: 96%;
		border-bottom-style: groove;
	}
	.header__loginBtn {
		width: 9.7rem;
		padding: 1rem 0.5rem;
	}
	.header__logo-busqueda {
		padding: 0;
		width: 35%;
		margin: 0;
		justify-content: center;
	}

	.icono__menu {
		width: 7rem;
		height: 7rem;
		top: 69rem;
		right: 1rem;
	}
	.icono__menu:hover {
		transform: unset;
	}
	.switch {
    width: 45px;
    height: 45px;
    top: 0.5rem;
    position: absolute;
    right: 7.6rem;
	}
	.search__link {
    top: -5.3rem;
    right: 6.3rem;
    width: 45px;
    height: 45px;
    position: absolute;
	}
  .icon__top-container {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: -6.5rem;
    right: 0.1rem;
  }
}
