:root{
    --Azul-100: rgb(42, 122, 228);
    --azul-10:rgb(234, 242, 253);
    --preto-100:#464646;
    --petro-50:#A2A2A2;
    --preto-blanco:#FFFFFF;
    --dark-gray: rgb(19, 19, 19);
    --main-color: rgb(0, 0, 0);
    --preto-30:rgb(200, 200, 200);
    --preto-05: rgb(245, 245, 245);
}

html{
    /* With this font-size,a  rem will be equal to 10px */
    font-size: 62.5%; 
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
    
a{
    text-decoration: none;
    color: var(--main-color);
}
a:hover{
    
    transform: scale(1.1);
}

li{
    list-style: none;
}

input:focus-visible{
    outline: none;
  }
    
