.footer{
    display: flex;
    padding: 64px;
    justify-content: center;
    align-items: center;
    background: var(--azul-10, #EAF2FD);
}

.footer__container{
    display: flex;
    width: 1136px;
    align-items: flex-start;
    gap: 11.2rem;
}
.footer__logolinkks{
    display: flex;
    justify-content: space-evenly;
    width: 41%;
    gap: 11.2rem;
}

.footer__logo{
    display: flex;
    width: 176px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0; 
}

.footer__links{
    display: flex;
    
}

.footer__links ul{
    display: flex;
    width: 234px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.footer__links li a{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__contacto{
    display: flex;
    width: 56rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    flex-shrink: 0;
}
.footer__contacto h2{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacto__nombre{
    display: flex;
    padding: 0rem 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7rem;
    align-self: stretch;
    background: var(--preto-branco, #FFF);
    font-family: Raleway;
    border-radius: 4px;
    padding-left: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 6rem;
}
.nombre{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border: none;
    font-family: Raleway;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}
.nombre::placeholder{
    font-size: 16px;
}

.nombre:focus-visible{
    outline: none;
  }

.label__nombre{
    color: var(--preto-50, #A2A2A2);
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}

.footer__textarea{
    width: 56rem; 
    height: 8rem;
    color: var(--preto-50, #A2A2A2);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    resize: none;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    align-self: stretch;
    padding: 2rem 1.2rem;
}
.submit{
    display: flex;
    padding: 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--azul-100, #2A7AE4);
    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 14.4rem;
}
