.footer{
    display: flex;
    padding: 64px;
    justify-content: center;
    align-items: center;
    gap: 115px;
    align-self: stretch;
    background: var(--azul-10, #EAF2FD);
}

.footer__container{
    display: flex;
    width: 1136px;
    align-items: flex-start;
    gap: 112px;
}

.footer__logo{
    display: flex;
width: 176px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.footer__links{
    display: flex;
    
}

.footer__links ul{
    display: flex;
    width: 176px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.footer__links li a{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__contacto{
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}
.footer__contacto h2{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacto__nombre{
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 7px;
    align-self: stretch;
    background: var(--preto-branco, #FFF);
    font-family: Raleway;
    border-radius: 4px;
    padding-left: 12px;

    
}
.nombre{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border: none;
}
.nombre::placeholder{
    font-size: 16px;
}

.nombre:focus-visible{
    outline: none;
  }

.label__nombre{
    color: var(--preto-50, #A2A2A2);
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}

