
.productos{
    display: flex;
    align-items: center;
    gap: 74px;
    flex-direction: column;
    overflow: hidden;
}
.productos__barra{
    display: flex;
    max-width: 77%;
    justify-content: space-between;
    align-items: center;
    min-width: 26%;
    width: 144rem;
}
.productos__titulo{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.productos__verMas{
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.productos__verMas h4{
    display: flex;
    color: var(--azul-100, #2A7AE4);
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.productos__verMas .productos__iconoFlecha{
    background-image: url("../svg/arrow.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    
    
}

.productos__tarjetas{
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}



/* Cards de producto */
.productos__caja {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.productos__caja .card {
    position: relative;
    width: 26.1rem;
    height: 40.0rem;
    backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, 1); border-radius: 26px; box-shadow: 35px 35px 68px 0px rgba(71, 138, 231, 0.5), inset -8px -8px 16px 0px rgba(71, 138, 231, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    overflow: hidden;
}

.productos__caja .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1BBFE9;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.productos__caja .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.productos__caja .card:after {
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.productos__caja .card .imgBx {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 90%;
    height: 91%;
    transition: .5s;
}

.productos__caja .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.productos__caja .card .imgBx img {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 29.7rem;
}

.productos__caja .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.productos__caja .card:hover .contentBx {
    height: 210px;
}

.productos__caja .card .contentBx h2 {
    position: relative;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}






.productos__caja .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.productos__caja .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.productos__caja .card .contentBx .size h3,
.productos__caja .card .contentBx .color h3 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.productos__caja .card .contentBx .size span {
    width: 61px; 
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px;
    transition: .5s;
    color: #000000;
    cursor: pointer;
}



.productos__caja .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.productos__caja .card .contentBx .color span:nth-child(2) {
     background: #1BBFE9;
}

.productos__caja .card .contentBx .color span:nth-child(3) {
     background: #1B2FE9;
}

.productos__caja .card .contentBx .color span:nth-child(4) {
     background: #080481;
}

.productos__caja .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 38px;
    box-shadow: -35px 35px 68px 0px rgba(6, 197, 255, 0.829), inset 12px -12px 16px 0px rgba(31, 173, 255, 0.705), inset 0px 11px 28px 0px rgb(221, 221, 221);
    margin-top: 10px;
    text-decoration: none;
    font-weight: 800;
    color: #111;
    opacity: 0;
    transform: translateY(40px);
    transition: .5s;
}

.productos__caja .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px) scale(1.2);
    transition-delay: .7s;
} 
/* Hide cards on different screen size */
@media  (max-width:1500px){
   .productos__caja:last-child{
        display: none;
   }
}
@media  (max-width:1200px){
   .productos__caja:nth-child(3){
        display: none;
   }
}
@media  (max-width:920px){
   .productos__caja:nth-child(2){
        display: none;
   }
}

/* MOBILE VIEW */