:root{
    --Azul-100: #2A7AE4;
    --preto-100:#464646;
    --petro50:#A2A2A2;
    --preto-blanco:#FFFFFF;
}

html{
    /* With this font-size,a  rem will be equal to 10px */
    font-size: 62.5%; 
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    
}
a{
    text-decoration: none;
}
a:hover{
    
    transform: scale(1.1);
}
    
