.hero{
    display: flex;
    height: 65.2rem;
    padding: 32px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%),url(../../img/banner.webp) , lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    

.hero__container{
    display: flex;
    width: 80%;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.hero__container h1{
    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero__container h2{
    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero__boton{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--azul-100, #2A7AE4);
    color: var(--preto-blanco);
    border: none;    
}

@media screen and (max-width:1024px){
    .hero{
        display: flex;
        height: 453px;
        padding: 32px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }
    .hero__container h1{
        font-size: 52px;
        line-height: normal;
    }
    .hero__container h2{
        font-size: 22px;
    }
    .hero__btn__link{
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width:768px){
    .hero{
        display: flex;
        height: 38.2rem;
        padding: 1.6rem;
      }
      .hero__container{
        justify-content: flex-end;
        align-self: stretch;
      }
      .hero__container h1{
        font-size: 2.2rem;
        margin: 3px 0;
      }
      .hero__container h2{
        font-size: 1.4rem;
      }
      .hero__boton{
        padding: 1.2rem 1.6rem;
        gap: 1rem;
      }
}